body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}


/* Create a right-aligned (split) link inside the navigation bar */

.topnav a.color {
    float: right;
    background-color: #0444aa;
    color: white;
}

.task {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}

@media screen and (max-width:600px) {
    .topnav.responsive {
        position: relative;
    }
}